/* custom.css */
.md-content {
    text-align: justify;
}

.md-main[data-md-color-scheme="light"] {
    background-color: antiquewhite;
}

.md-main[data-md-color-scheme="dark"] {
    background-color: #1e1e1e;
}

.hidden-heading {
    display: none;
}

@media (min-width: 1200px) {
    .md-content {
        min-width: 1000px;
        margin: 0 auto;
    }
}







