/* custom.css */
.md-content {
    text-align: justify;
}

.md-main[data-md-color-scheme="light"] {
    background-color: antiquewhite;
}

.md-main[data-md-color-scheme="dark"] {
    background-color: #1e1e1e;
}

.hidden-heading {
    display: none;
}

@media (min-width: 1200px) {
    .md-content {
        min-width: 1000px;
        margin: 0 auto;
    }
}

.md-content {
    position: relative;
}

.md-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background: #e4e4e4;
    z-index: 1;
}

.md-content::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 0.5px;
    background: #e4e4e4;
    z-index: 1;
}

@media (max-width: 959px) {
    .md-content::before,
    .md-content::after {
        display: none;
    }
}






